body {
    background-color: white;
    color: black;
    --bold-color: black;
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
    --bold-color: white;
}

.toggle-red {
    color: red;
}